<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noarchive,noodp,noydir" />
  <meta name="referrer" content="always" />
  <meta name="theme-color" content="#AC130D" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <% if @short_url %>
    <link rev="canonical" rel="self alternate shorter shorturl shortlink"
      href="<%= @short_url %>" />
  <% end %>
  <title><%= @title.present? ? "#{@title} | " : "" %><%=
    Rails.application.name %></title>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>
  <% if @user %>
    <%= javascript_include_tag "application" %>
    <script>
      Lobsters.curUser = '<%= @user.id %>';
    </script>
  <% end %>
  <%= csrf_meta_tags %>
  <% if @rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @rss_link[:title] %>" href="<%= @rss_link[:href] %>" />
  <% end %>
  <% if @comments_rss_link %>
    <link rel="alternate" type="application/rss+xml"
      title="<%= @comments_rss_link[:title] %>"
      href="<%= @comments_rss_link[:href] %>" />
  <% end %>
</head>
<body>
<header>
      <!-- Page Layout here -->
        <ul id="nav-mobile" class="side-nav fixed" >
          <!-- Grey navigation panel -->
          <li><a id="l_holder" style="background-color: #<%= sprintf("%02x%02x%02x",
          [ 255, (@traffic * 7).floor + 50.0 ].min, 0, 0) %>;" href="/"
          title="<%= Rails.application.name %> (Current traffic: <%= @traffic.to_i %>)"></a></li>

          <% links = {
            "/" => @cur_url == "/" ? Rails.application.name : "Home",
            "/recent" => "Recent",
            "/comments" => "Comments"
          } %>

          <% if @user %>
            <% links.merge!({ "/threads" => "Your Threads",
              "/stories/new" => "Submit Story" }) %>
          <% end %>

          <% links.merge!({ "/search" => "Search" }) %>

          <% if @cur_url.present? && !links.keys.include?(@cur_url) &&
          @heading.present? %>
            <span id="headertitle">
              <li><a href="<%= @cur_url %>"><%= @heading %></a></li>
            </span>
          <% end %>

          <% links.each do |u,v| %>
            <li class="bold"><a class="waves-effect waves-teal" href="<%= u %>" <%= u == @cur_url ? raw("class=\"cur_url\"") :
              "" %>><%= v %></a></li>
          <% end %>
        </ul>
</header>



<main>
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <div class="col s12">
              <a href="#" class="brand-logo">Logo</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if @user %>
                <% if (count = @user.unread_message_count) > 0 %>
                <li><a href="/messages" class="new_messages <%= @cur_url == "/messages" ?
                  "cur_url" : "" %>"><%= count %> New Message<%= count == 1 ? "" :
                  "s" %></a></li>
                <% else %>
                <li><a href="/messages" <%= @cur_url == "/messages" ?
                  raw("class=\"cur_url\"") : "" %>>Messages</a></li>
                <% end %>
                <li><a href="/filters" <%= @cur_url == "/filters" ?
              raw("class=\"cur_url\"") : "" %>>Filters</a></li>
                <li><a href="/settings" <%= @cur_url == "/settings" ?
                  raw("class=\"cur_url\"") : "" %>><%= @user.username %>
                  (<%= @user.karma %>)</a></li>
                <%= link_to "Logout", { :controller => "login", :action => "logout" },
                  :data => { :confirm => "Are you sure you want to logout?" },
                  :method => "post" %>
              <% else %>
                <li><a href="/login">Login</a></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
        <!-- Teal page content  -->
      <div class="container">
        <div id="wrapper">
          <div id="inside">
            <% [ :error, :success, :notice ].each do |f| %>
              <% if flash[f].present? %>
                <div class="flash-<%= f %>"><%= flash[f] %></div>
              <% end %>
            <% end %>

            <%= yield %>

            <div class="clear"></div>
          </div>
        </div>
      </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">


      <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">You can contact the admin at.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/moderations">Moderation Log</a></li>
          <% if @user && !@user.is_new? &&
          (iqc = InvitationRequest.verified_count) > 0 %>
            <li><a class="grey-text text-lighten-3" href="/invitations">Invitation Queue (<%= iqc %>)</a></li>
          <% end %>
          <li><a class="grey-text text-lighten-3" href="/chat">Chat</a></li>
          <% if defined?(BbsController) %>
            <li><a class="grey-text text-lighten-3" href="/bbs">BBS</a></li>
          <% end %>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
        </ul>
      </div>





    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014-2015 Materialize, All rights reserved.
    <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
    </div>
  </div>
</footer>


</body>
</html>
